@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

nav {

    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(44, 43, 43);
    position: relative;
    z-index: 20;
}

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 3px 8px;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 9, 20);
    border-radius: 4px;
    border: none;
    padding: 6px 24px;
}

.btn-red-sm {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    border: none;
    background-color: rgb(229, 9, 20);
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
    font-size: 16px;
    padding: 7px 101px 8px 14px;
    font-weight: 400;
    color: white;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    padding: 34px 0;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 70px;
    width: 480px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.first>div :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.faq h2 {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.faq {
    padding: 34px;
    background-color: black;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: rgb(114, 109, 109);
}

.faqbox {
    transition: all 1s ease-out;
    cursor: pointer;
    display: flex;
    background-color: #2f3237;
    padding: 24px;
    justify-content: space-between;
    margin: 34px auto;
    max-width: 60vw;
    font-weight: 400;
    font-size: 24px;
}

footer {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    font-size: 16px;
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px;
}

.footer-item {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}

.end {
    font-size: 14px;
    padding: 20px 0;
}

.last-btn {
    margin: 20px 0 0 0;
}

.btn svg {
    padding: 0 5px 0 0;
}

@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .first {
        flex-wrap: wrap;
    }

    footer{
        max-width: 89vw;
    }
    .footer-item{
        align-items: center;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    .hero-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}